body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #9ad4eb;
  height: 2rem;
  text-align: center;
  padding-top: 1.5rem;  
}
#title{
  text-decoration: none;
  font-size: 3em;
  color: #ffffff;
}
.navbar{
  background-color: #59b0e3;
  height: 8rem;
}



nav a {
  /* display: inline-flex; */
  padding-top: 1.5rem;
  margin: 2rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: #020202;
  transition: 0.1s;
  vertical-align: middle;
  line-height: 8rem;
}
nav a:hover{
  color: #7004e3;
  border-bottom: 2px solid #40BA93;
}
.navImage{
  height: 5.5rem;
  float: right;
  padding-right: 4rem;
  padding-top: 1.3rem;
}

.flex-container-categories {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  align-items: stretch;
  justify-content: space-around;
  height: 100%; 
}

.flex-container-categories > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: auto;
  flex-grow: 1;
  width: 150px;
}
