*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 13px;
}

div {
    display: block;
}

.wrapper{
    background-image: url("https://wallpapers.com/images/high/spa-background-lxzbsb2f2wsg2z1o.webp");
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: right center;
    align-items: center
}

.bottom-wrap{
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.SignUp-Btn{
    border: none;
    width: 164px;
    height: 31px;
    margin: auto;
    cursor: pointer;
    align-items: right;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.inner{
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.inner-signUp{
    padding-top: 10px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.inner-signUp .img-holder{
    width: 50%;
}

.inner-signUp form {
    width: 50%;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;
}

.inner-signUp .form-control{
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}


.inner .img-holder{
    width: 50%
}

#teacher-quote{
    max-width: 100%;
    overflow: content-box;   
    
}

.inner form {
    width: 50%;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;
}

form {
    display: block;
    margin-top: 0em;
}

.form-wrapper{
    position: relative;

}

.form-control{
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 13px;
}



.wrapper button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.inner-signUp button{
    border: none;
    width: 164px;
    height: 41px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}



