


nav a {
  display: inline;
  padding-top: 0%;
  margin-top: 0%;
  margin: 3rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: #020202;
  transition: 0.1s;
  vertical-align: middle;
  line-height: 5rem;
  font-family: Arial
}

 #avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  transform: scale(0.95);
  z-index: 100;
}

.navbar #Btn-Logout {
  
    border: 1px solid #003452;
    width: 64px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    align-items: center;
    margin-top:5px;
    justify-content: center;
    background: #0281ca;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;

}


  
.navbar{
    background-color: #88cbf3;
    height: 6em;
  }

  .navbar div#id-box{
    vertical-align: middle;
    font-weight: 600;
    text-align: center;
    color: #020202;
    font-family: Arial;
    float: right;
    width: 20%;
    height:100%;
    margin-bottom: 10px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    display: inline;
    padding-top: 0%;
    margin-top: 0%;
    margin: 3rem;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: #020202;
    transition: 0.1s;
    vertical-align: middle;
    line-height: 5rem;
    font-family: Arial
  }
  nav a:hover{
    color: #7004e3;
    font-size: 1.4em;
    font-weight: 700;
    border-bottom: 2px solid #7004e3;
  }
 

  .header h2 {
    
    background-color: #301934;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image: repeating-conic-gradient(#553c9a 0%, #362371 10%, #8e7fba 10%, #b022bd 20%, 
    #00c2cb 20%, #00c2cb 25%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .header .typed{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
  }

  .header .typed li{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color: #030203;
    font-size: 30px;
    font-weight: 600;
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 4.5s steps(2) infinite;
  }

  @keyframes slide{
    100%{
      top: -80px;
    }
}


  .header{
    
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, #f8f9f9 100%);
      
  }
  

  
  